@using ServiceStack
@model Alertsense.Azure.Lumberjack.Models.LogViewerViewModel
@{
    ViewBag.Title = "Index";
}
<link href="@Url.Content("~/Content/LogViewer.css")" rel="stylesheet" type="text/css"/>
<div class="endpoint text-center">Endpoints:</div>
<form class="text-center">
    @foreach (var item in Model.ConnectionList)
    {
        var checkMe = String.IsNullOrEmpty(Request[item]) ? "" : "checked";
        <div>
            @Html.Label(item)
            <input name="@item" type="checkbox" @checkMe/>
        </div>
    }
    <table>
        <thead>
            <tr>
                <th>Log Level</th>
                <th>Date Range</th>
                <th>Logger Type</th>
                <th>Thread</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DropDownList("LogLevel", "All")
                </td>
                <td>
                    <label for="StartDate">Start</label>
                    <input type="text" id="StartDate" name="StartDate" value="@Request.Params["StartDate"]">
                    <br />
                    <label for="EndDate">End</label>  &nbsp;
                    <input type="text" id="EndDate" name="EndDate" value="@Request.Params["EndDate"]">
                </td>
                <td>
                    @Html.DropDownList("LoggerType", "All")
                </td>
                <td>
                    @Html.TextBox("Thread", Request.Params["Thread"])
                </td>
            </tr>
        </tbody>
    </table>
    <input type="submit" value="Filter" />
</form>
@using (Html.BeginForm("Index", "LogViewer", FormMethod.Get))
{
    <input type="submit" value="Clear" />
}
<table>
    <tr>
        <th> @Html.LabelFor(x => x.Logs.FirstOrDefault().Source) </th>
        <th> @Html.LabelFor(x => x.Logs.FirstOrDefault().Date) </th>
        <th> @Html.LabelFor(x => x.Logs.FirstOrDefault().Message) </th>
    </tr>
    @foreach (var m in Model.Logs)
    {
        <tr>
            <td>@m.Source</td>
            <td>@m.Date</td>
            <td>
                <div>
                    Message:
                    <pre>@m.Message</pre>
                </div>
                @if (!m.Exception.IsNullOrEmpty())
                {
                    <div>
                        Exception:
                        <pre>@m.Exception</pre>
                    </div>
                }
            </td>
        </tr>
    }
</table>