@using ServiceStack
@model Alertsense.Azure.Lumberjack.Models.LogViewerViewModel
@{
    ViewBag.Title = "Index";
}
<link href="@Url.Content("~/Content/LogViewer.css")" rel="stylesheet" type="text/css"/>
<div class="endpoint text-center">Endpoints:</div>
<form class="text-center">
    @foreach (var item in Model.ConnectionList)
    {
        var checkMe = String.IsNullOrEmpty(Request[item]) ? "" : "checked";
        <div>
            @Html.Label(item)
            <input name="@item" type="checkbox" @checkMe />
        </div>
    }
    <div class="space-below"><input type="submit" value="Filter" /></div>
</form>
<table>
    <tr>
        <th> @Html.LabelFor(x => x.Logs.FirstOrDefault().Source) </th>
        <th> @Html.LabelFor(x => x.Logs.FirstOrDefault().Date) </th>
        <th> @Html.LabelFor(x => x.Logs.FirstOrDefault().Message) </th>
    </tr>
    @foreach (var m in Model.Logs)
    {
        <tr>
            <td>@m.Source</td>
            <td>@m.Date</td>
            <td>
                <div>
                    Message:
                    <pre>@m.Message</pre>
                </div>
                @if (!m.Exception.IsNullOrEmpty())
                {
                    <div>
                        Exception:
                        <pre>@m.Exception</pre>
                    </div>
                }
            </td>
        </tr>
    }
</table>