@using ServiceStack
@model Alertsense.Azure.Lumberjack.Models.LogViewerViewModel
@{
    ViewBag.Title = "Index";
}
<form class="filter">
    
    <table width="100%">
        <thead>
            <tr>
                <th>Log Level</th>
                <th>Date Range</th>
                <th>Logger Type</th>
                <th>Thread</th>
                <th>Endpoint(s)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DropDownList("LogLevel", "All")
                </td>
                <td>
                    <label for="StartDate">Start</label>
                    <input type="text" id="StartDate" name="StartDate" value="@Request.Params["StartDate"]">
                    <br />
                    <label for="EndDate">End</label>  &nbsp;
                    <input type="text" id="EndDate" name="EndDate" value="@Request.Params["EndDate"]">
                </td>
                <td>
                    @Html.DropDownList("LoggerType", "All")
                </td>
                <td>
                    @Html.TextBox("Thread", Request.Params["Thread"])
                </td>
                <td>
                    @foreach (var item in Model.ConnectionList)
                    {
                        var check = String.IsNullOrEmpty(Request[item]) ? "" : "checked";
                        <div>
                            @Html.Label(item)
                            <input name="@item" type="checkbox" @check />
                        </div>
                    }
                </td>
            </tr>
        </tbody>
    </table>
    <input class="filter-input" type="submit" value="Filter" />
</form>
@using (Html.BeginForm("Index", "LogViewer", FormMethod.Get))
{
    <input type="submit" value="Clear" />
}
<table width="100%">
    <tr>
        <th width="10%">
            <div>@Html.LabelFor(x => x.Logs.FirstOrDefault().Date)</div>
            <div>@Html.LabelFor(x => x.Logs.FirstOrDefault().Level)</div>
        </th>
        <th width="76%">
            <div>@Html.LabelFor(x => x.Logs.FirstOrDefault().Logger)</div>
            <div>@Html.LabelFor(x => x.Logs.FirstOrDefault().Message)</div>
        </th>
        <th width="14%">
            @Html.LabelFor(x => x.Logs.FirstOrDefault().Source)
        </th>
    </tr>
    @foreach (var m in Model.Logs)
    {
        <tr>
            <td>
                <div>@m.Date</div>
                <div>@m.Level</div>
            </td>
            <td>
                <dl>
                    <dt>Logger:</dt>
                    <dd>@m.Logger</dd>

                    <dt>Message:</dt>
                    <dd>
                        <pre>@m.Message</pre>
                    </dd>


                    @if (!m.Exception.IsNullOrEmpty())
                    {
                        <dt>Exception:</dt>
                        <dd>
                            <pre>@m.Exception</pre>
                        </dd>
                    }
                </dl>
            </td>
            <td>@m.Source</td>
        </tr>
    }
</table>

<link href="@Url.Content("~/Content/LogViewer.css")" rel="stylesheet" type="text/css"/>
<link href="@Url.Content("~/Content/jquery-1.11.4-ui.css")" rel="stylesheet" type="text/css">

<script src="~/Scripts/jquery-1.11.0.js"></script>
<script src="~/Scripts/jquery-time.js"></script>
<script src="~/Scripts/jquery-ui-1.10.3.min.js"></script>
<script src="~/Scripts/TimePicker.js"></script>
<script>
    $.noConflict();
    jQuery(document).ready(function ($) {
        var startDateTextBox = $('#StartDate');
        var endDateTextBox = $('#EndDate');

        $.timepicker.datetimeRange(
            startDateTextBox,
            endDateTextBox,
            {
                timeFormat: 'hh:mm:ss TT',
                start: {
                    currentText: 'Current'
                },
                end: {
                    currentText: 'Current'
                }
            }
        );
    });
</script>